pkgbase = openswan
	pkgdesc = Open Source implementation of IPsec for the Linux operating system
	pkgver = 2.6.38
	pkgrel = 3
	url = http://www.openswan.org
	arch = i686
	arch = x86_64
	license = GPL
	license = custom
	makedepends = flex
	makedepends = bison
	depends = iproute2>=2.6.8
	depends = gmp
	depends = perl
	provides = openswan
	conflicts = ipsec-tools
	conflicts = openswan
	backup = etc/ipsec.conf
	backup = etc/ipsec.d/policies/block
	backup = etc/ipsec.d/policies/clear
	backup = etc/ipsec.d/policies/clear-or-private
	backup = etc/ipsec.d/policies/private
	backup = etc/ipsec.d/policies/private-or-clear
	source = http://download.openswan.org/openswan/openswan-2.6.38.tar.gz
	source = openswan
	source = openswan.service
	source = ics.patch
	md5sums = 13073eb5314b83a31be88e4117e8bbcd
	md5sums = 543d84162761b9cc9ec319e938c4dd2a
	md5sums = d8b465c10838c72e31329d65011002b6
	md5sums = bef9e5d136103759f5d6cb5c1254c8c2

pkgname = openswan

